
obj/Debug/net5.0/MLearningLibrary.GeneratedMSBuildEditorConfig.editorconfig
bin/Release/*.*
obj/Release/*.*
.vs/MLearningLibrary/v16/*.suo
.vs/MLearningLibrary/v16/.suo
bin/Debug/*.*
bin/Debug/net5.0/*.*
obj/Debug/net5.0/*.*
obj/*.*
.vs/MLearningLibrary/DesignTimeBuild/
.vs/MLearningLibrary/v17/
obj/Debug/net5.0/refint/